.navbar {
	width: 100%;
	height: 70px;
	background-color: #3bb19b;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar h1 {
	color: white;
	font-size: 25px;
	margin-left: 20px;
}

.white_btn {
	border: none;
	outline: none;
	padding: 12px 0;
	background-color: white;
	border-radius: 20px;
	width: 120px;
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	margin-right: 20px;
}

.subject{
  display: flex;
  background: rgb(19, 19, 19);
  border-radius: 10px;
  padding: 15px;
  margin-top: 10px;
}
.subject h3 {
  font-size: 1.5rem;
  color: white;
}
.subject input {
  width: 200px;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: rgb(3, 218, 81);
  margin-left: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  outline: none;
}