.article {
  flex: 1 0 25%;
  min-width: 260px;
  max-width: 280px;
  height: 620px;
  background: #50705dd2;
  border-radius: 35px;
  margin: 5px;
  padding: 15px;
  position: relative;
  overflow: hidden;
  color: rgb(42, 35, 35);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 2px;
}
.article::after {
    content: "";
    position: absolute;
    height: 90px;
    width: 100%;
    background: linear-gradient(180deg, rgba(67, 190, 30, 0) 0%, rgb(173, 156, 156) 55%);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    border-radius: 0 0 30px 30px;
}

img {
    width: 80%;
    height: 254px;
    object-fit: cover;
    object-position: top;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    box-shadow: 0 8px 1px rgba(255, 255, 255, 0.1),
      0 16px 1px rgba(255, 255, 255, 0.05);
  }

  .article > p {
    color: rgb(78, 47, 31);
    font-size: 1.3rem;
    line-height: 20px;
    height: 160px;
    overflow-y: scroll;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 2px;
    line-height: 23px;
  }

 p::-webkit-scrollbar {
      display: none;
 }
  
.btn {
    background: #55a276;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 14px 0;
    width: 200px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
    z-index: 50;
    border: solid 1px gray;
}
.btn:hover {
    background: #212040;
      box-shadow: 0 0 10px #364483d2;
      font-size: 1.025rem;
      color: white;
}
