.card {
  background: rgb(65, 65, 65);
  border-radius: 10px;
  padding: 14px;
  margin: 10px 0;
  position: relative;
  color: white;
}
.card_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  color: rgb(199, 199, 199);
}
.card_header h3 {
  letter-spacing: 1px;
  font-size: 1.4rem;
  color: rgb(3, 218, 81);
}
.card_header h4 {
  letter-spacing: 1px;
  font-size: 1.2rem;
}
.card_header p {
  font-style: italic;
}
.card textarea {
  font-size: 1rem;
}
.card > p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}
.icons_part {
  height: 30px;
}
.edit-container {
  display: flex;
}
.edit-container button {
  border-radius: 10px;
  border: none;
  margin-left: 5px;
  width: 120px;
  background: rgb(225, 224, 224);
  cursor: pointer;
  transition: 0.2s;
}
.edit-container button:hover {
  transform: translateX(-2px);
  filter: brightness(120%);
}

#update-btn {
  right: 50px;
}

.update-delete-icons span {
  font-size: 1.2rem;
  position: absolute;
  bottom: 8px;
  cursor: pointer;
  transition: 0.15s;
}
#update-btn:hover{
  filter: brightness(250%);
  transform: translateX(1px) rotate(25deg);
  color: green;
}
